head
    title= title
    <!-- CSS -->
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/main.css", rel="stylesheet")

    <!-- External scripts -->
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=" + apiKey)
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js")

    <!-- Application scripts -->
    script(src="/js/App.js")
    script(src="/js/MapService.js")
    script(src="/js/SidebarController.js")
