doctype
html(ng-app="App")
    include ./header.pug
    body(ng-app="App")

    div#header(class="navbar navbar-default navbar-fixed-top")
        div(class="navbar-header")
            span(class="navbar-brand")= header

    div#wrapper(ng-controller="SidebarController")
        div#map-wrapper(class="col-md-12")
            div#map

    include ./footer.pug

    <div class="container">
        <div ng-controller="SidebarController">
            <div class="sidebar" sidebar-directive="state">
                <a href="#" id="navigation-toggle" ng-click="toggleState()">Navigation</a>
                <form name ="addForm" novalidate>
                    <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                    <div class="form-group">
                        <label for="username">Username <span class="badge">All fields required</span></label>
                        <input type="text" class="form-control" id="username" placeholder="OldandGold" ng-model="formData.username" required>
                    </div>
                    <label class="radio control-label">Gender</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="radiomale" value="Male" ng-model="formData.gender">
                            Male
                        </label>
                    </div>
                    <div class="radio" required>
                        <label>
                            <input type="radio" name="optionsRadios" id="radiofemale" value="Female" ng-model="formData.gender">
                            Female
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
