doctype
html
    include ./header.pug
    body(ng-app="App" md-theme="ucine")

        md-toolbar(ng-controller="ToolbarController" class="md-primary")
            div(class="md-toolbar-tools")
                i(class="material-icons movie") local_movies
                h2(class="md-flex")= header
                    div(class="md-caption")= subHeader
                span(flex)
                md-button(class="md-icon-button" aria-label="Source code" ng-click="openSource()")
                    md-tooltip(md-direction="left") View Source
                    i(class="material-icons") code

        div(ng-controller="MenuController" layout="column" class="main" ng-cloak)

            section(layout="row" flex)
                md-content(flex)

                    div(layout="column" layout-align="top")
                        div#map(class="map" ng-controller="MapController")

                        md-button(ng-click="toggleSidenav()" ng-hide="isOpen()" class="md-fab md-accent")
                            md-tooltip(md-direction="top")= menuTooltip
                            i(class="material-icons md-36") menu

                include ./sideNav.pug

        include ./footer.pug
