doctype
html
    include ./header.pug
    body(ng-app="App" md-theme="ucine")

        md-toolbar(ng-controller="ToolbarController" class="md-primary")
            div(class="md-toolbar-tools")
                i(class="material-icons") theaters
                h2(class="md-flex")= header
                span(flex)
                md-button(class="md-icon-button" aria-label="Source code" ng-click="openSource('"+gitRepo+"')")
                    i(class="material-icons") code

        div(ng-controller="MenuController" layout="column" class="main" ng-cloak)

            section(layout="row" flex)
                md-content(flex)

                    div(layout="column" layout-align="top")
                        div#map(class="map")

                        md-button(ng-click="toggleSidenav()" ng-hide="isOpen()" class="md-accent md-fab")
                            i(class="material-icons md-48") menu

                md-sidenav(class="md-sidenav-right md-whiteframe-4dp" md-component-id="sideNav")
                    md-toolbar(class="md-theme-light")
                        h1(class="md-toolbar-tools") Sidenav Right
                    md-content(ng-controller="SideController" layout-padding)
                        form
                            md-input-container
                                label(for="testInput") Test input
                                input#testInput(type="text" ng-model="data" md-autofocus)
                        md-button(ng-click="close()" class="md-primary") Close Sidenav Right

        include ./footer.pug
