html, body{
    height: 100%;
    width: 100%;
}

.md-button.md-accent.md-fab {
    padding-top: 5px;
    margin-top: 16px;
}
.main {
    height: 85%;
}
.map {
    height: 100%;
    width: 100%;
    position: absolute;
    display: inline-block;
    overflow-y: auto;
}
.footer {
    position: absolute;
    text-align: center;
    width: 100%;
}

