html, body{
    height: 100%;
    width: 100%;
}

.md-button.md-fab.md-accent {
    padding-top: 7px;
    margin-top: 32px;
    margin-left: 12px;
}
.md-button.md-fab.md-mini.md-primary {
    padding-top: 8px;
}
.main {
    height: 85%;
}
.map {
    height: 100%;
    width: 100%;
    position: absolute;
    display: inline-block;
    overflow-y: auto;
}
.footer {
    position: absolute;
    text-align: center;
    width: 100%;
}
.movieInfoOverlay .content {
    margin-bottom: 32px;
    max-width: 400px;
}
i.material-icons.movie {
    margin-right: 10px;
    font-size: 48px;
}

